*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:0;
    padding: 0;
    justify-content: center;
    position: relative;
    

}

header {
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding-right: 40px;
    height: 65px
    
    
}


.my-name {
    background-color:green;
    color: white;
    
    
    
}

.nav-bar {
    background-color: rgb(238, 233, 237);
    padding-right: 20px;
    margin-bottom:20px;
    margin-top:20px

    
}

nav ul a {
   color:green;
   justify-content: center;
   padding: 20px;
   
   
}

nav li {
    display: inline;

    
}

.banner {
    background-image: url("../images/banner\ image.jpg");
    height:100px;
    display:flex;
    justify-content: flex-end;
    padding-right: 20px;
    
    

}

.banner h2 {
    background-color:white;
    color:black;
    height: 40px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left:10px;
    border-style:solid;
    
}

.flexbox {
    display:flex;
    align-items:center;
}
