*{
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:0;
    padding: 0;
    justify-content: center;
    position: relative;
    

}

header {
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding-right: 40px;
    height: 65px
    
    
}


.my-name {
    background-color:white;
    color: green
    
    
    
}

.nav-bar {
    background-color: rgb(238, 233, 237);
    padding-right: 20px;
    margin-bottom:5px;
    margin-top:20px

    
}

nav ul a {
   color:green;
   justify-content: center;
   padding: 20px;
   
   
}

nav li {
    display: inline;

    
}

.picture-me {
    display: inline-flex;
    width:200px;
    height:250px;
}