*{
 box-sizing:border-box;
 margin:0;
 padding:0;
}

.main-header {
display: flex;
justify-content: space-between;
background-color: black;


}

nav a {
    color:green;
    margin-right:30px;
}
nav ul  {
    display:flex;
    list-style-type: none;
    margin-right:30px;
    padding-top:10px;

    
}
    
.myname {
    background-color:green;
    color:;
    padding-left:15px;
}
   
.banner {
   background-image: url(../Images/banner.jpg);
    height:200px;

}



.horiseon img {
    width:40px;
}

.runbuddy img {
    width:40px;
    height:40px;
    margin-bottom:30px;
}

.pastel img {
    width:40px;
    height:40px;

}

.calculator img {
    width:40px;
    height:40px;

}

.led-wall img {
    width:40px;
    height:40px;
}

.about-wrapper {
    background-color:yellow;
}

.about-wrapper p {
    background-color:pink;
}

.about-wrapper h2 {
    background-color:beige;
}

.work h2 {
    background-color: yellow;
}


